body {
  background: #000 url('http://img.infinitynewtab.com/wallpaper/3332.jpg');
  margin: 0;
}
.box {
  width: 100%;
  text-align: center;
  margin-top: 20%;
  font-size: 0;
}
canvas {
  border: 2px solid wheat;
}